---
layout: note
title: Qwen 2.5 72B Instruct Turbo Testing Results
category: LLMOPs
tags:
  - llm
  - qwen
  - dify
image: 
summary: 
date created: Monday, October 21st 2024, 6:05:32 pm
date modified: Tuesday, November 5th 2024, 3:11:32 am
---

Qwen 2.5 72B Instruct Turbo testing

![qwen2.572binstruct\_odd output.png](../_assets/qwen2.572binstruct_odd%20output.png)

{% picture qwen2.5params.png --alt qwen2.5params.png %}
