
<span>{
  {% if page.backlinks.size > 0 %}
  {% for backlink in page.backlinks %}
  {% if backlink.title != page.title %}
  <a class="internal-link"
    href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}"><code
      class="highligher-rouge"><nobr></nobr>{{ backlink.title }}</a></nobr></code></a>
  {% endif %}
  {% endfor %}
  {% endif %}
  }</span>
<span>{
  {% for tag in page.tags %}
  {% capture tag_name %}{{ tag }}{% endcapture %}
  {% if tag_name != 'obsidian-auto-glossary' %}
  <!-- <a href="{{ site.baseurl }}/{{ tag_name }}"><code class="highligher-rouge"><nobr>#{{ tag_name }}</nobr></code></a> -->
  <a href="{{ site.baseurl }}/{{ tag_name }}"><code class="highligher-rouge"><nobr>#{{ tag_name }}</nobr></code></a>
  {% endif %}
  {% endfor %}

  }</span>