# Generated website directory
_site/

# Sass cache
.sass-cache/

# Jekyll cache & metadata
.jekyll-cache/
.jekyll-metadata

# Notes graph metadata
#_includes/notes_graph.json

# Obsidian config
.obsidian/

/node_modules/

/_drafts/

.playwright-mcp/
.qodo/
.claude/
logs/
.ruby-lsp/
*.code-workspace

2025-12-27-command-messageb08xprojectcommand-message*
2025-12-28-command-messageb08xprojectcommand-message*
.code-packager-csv-config
*.csv
refactor/

assets/js/dist/