.jekyll-metadata
.obsidian/
Gemfile.lock
_site
jsoncanvas/
.smart-env/***
_textgenerator
_scratchpad
/node_modules/
assets/react-app/
websitestuff/
*.wav
*.ogg
*.opus
assets/audio/staging/
/_drafts/
*.code-workspace