---
---
@import "../_sass/fonts.scss";
@import "../_sass/highlighter.scss";
@import "../_sass/normalize.scss";

:root {
  --font-family-ibm: "IBM Plex Mono", monospace;
  --font-family-special: "Special Elite", monospace;
  --font-family-source: "Source Code Pro", monospace;
  --font-family-source-serif: "Source Code Pro", serif;
  --font-family-monospace: "Overpass Mono", monospace;
  --font-family-sans-serif: "Overpass", sans-serif;
  --font-family-logo: "Podkova", serif;
  --font-family-text: "mononoki", monospace;
  --font-family-hack: "Hack", monospace;
  --font-family-forum: "Forum", serif;

  --color-primary: #F0C018;
  --color-secondary: #189090;
  --color-tertiary: #FFC018;
  --color-quaternary: #186078;
  --color-quinary: #786018;
  --color-senary: #604818;
  --color-background: #F0F0F0;
  --color-text: #000000;
}

body {
  font-family: "Hack";
  background-color: var(--color-background);
  color: var(--color-text);
}

.language-plaintext, .highlighter-rouge {
  display: flex;
  flex-direction: row;
}

.md-header-nav__button.md-logo * {
  width: 48px
}

.md-nav  {
  background-color: inherit;
}

.md-typeset .codehilite, .md-typeset .highlight {
  background-color: var(--color-quaternary);
}

[data-md-color-primary=grey] .md-typeset a {
  color: var(--color-secondary);
}

.md-typeset h1 {
  font-family: var(--font-family-special);
  font-size: 2.5em;
  font-weight: 600;
  color: var(--color-primary);
}

.md-typeset h2 {
  font-family: var(--font-family-ibm);
  font-size: 2.25em;
  color: var(--color-quaternary);
}

.md-typeset h4 {
  font-family: var(--font-family-logo);
  color: var(--color-tertiary);
  font-size: 2em;
  font-weight: 500;
}

.md-typeset h5, .md-typeset h6 {
  font-weight: 400;
  color: var(--color-quinary);
}

.md-typeset pre.codehilite code, .md-typeset pre.highlight code {
  color: var(--color-background);
}

.dropdown {
  background-color: var(--color-background);
}

.md-typeset code, .md-typeset pre {
  background-color: var(--color-text);
  box-shadow: unset;
  color: var(--color-primary);
  padding: 5px;
}

em {
  color: var(--color-senary);
}

.md-typeset blockquote {
  font-style: italic;
  border-left-color: var(--color-tertiary);
}

[data-md-color-primary=orange] .md-header, [data-md-color-primary=orange] .md-hero {
  background-color: var(--color-text);
}

[data-md-color-primary=orange] .md-typeset a {
  color: var(--color-secondary);
  text-decoration: underline;
}

.md-typeset .codehilite code, .md-typeset .codehilite pre, .md-typeset .highlight code, .md-typeset .highlight pre {
  background-color: var(--color-quinary);
  padding: unset;
}

#_watch {
  width: -webkit-fill-available;
  height: 600px;
}

/* app/styles/chat.scss */
.chat-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.chat {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.chat-bubble {
  font-family: var(--font-family-ibm);
  letter-spacing: 0.1px;
  max-width: 60%;
  padding: 10px 15px;
  border-radius: 20px;
  color: var(--color-background);
}

.chat-start .chat-bubble {
  background-color: var(--color-quaternary);
  border-bottom-left-radius: 0;
  align-self: flex-start;
  margin-bottom: 1rem;
}

.chat-end .chat-bubble {
  background-color: var(--color-text);
  color: var(--color-primary);
  border-bottom-right-radius: 0;
  align-self: flex-end;
  margin-bottom: 1rem;  
}
