<div class="container">
  <div class="left-column">
     <div class="category">
        <img
          src="/assets/img/llm/image02.jpeg"
          alt="Papers"
        />
        <p>
          Papers are a type of document that contains information about a
          topic.
        </p>
      </div>
     <div class="category">
      <img
        src="/assets/img/llm/image07.jpeg"
        alt="Papers"
      />
      <p>
        Papers are a type of document that contains information about a
        topic.
      </p>
    </div>
    <div class="category">
     <img
       src="/assets/img/llm/image25.jpeg"
       alt="Papers"
     />
     <p>
       Papers are a type of document that contains information about a
       topic.
     </p>
   </div>
  </div>
  <div class="right-column">
    <div class="category">
      <img
        src="/assets/img/generative/user_interacting_with_LLM01.jpeg"
        alt="Papers"
      />
      <p>
        Papers are a type of document that contains information about a
        topic.
      </p>
    </div>
    <div class="category">
      <img src="/assets/img/generative/pixel_crow-95.jpeg" alt="Books" />
      <p>
        Books are a type of document that contains information about a
        topic.
      </p>
    </div>
    <div class="category">
      <img src="/assets/img/generative/pixel_crow-101.jpeg" alt="Papers" />
      <p>
        Papers are a type of document that contains information about a
        topic.
      </p>
    </div>
  </div>
</div>