<header class="site-header">
  <h1 class="sr-only">Scrollnapping animations</h1>

  <!-- Because Chrome crashes if an overflow is set on the fieldset while a named timeline is on a child element -->
  <!-- ¯\_(ツ)_/¯ -->
  <div class="fieldset-wrapper">
    <fieldset>
      <legend class="sr-only">Effects</legend>

      <!-- radio buttons for each of the @keyframes above -->
      <input type="radio" id="blink-effect" name="effect" value="blink" checked class="sr-only">
      <label for="blink-effect">Blink</label>

      <input type="radio" id="horizontal-scroll-effect" name="effect" value="horizontal-scroll" class="sr-only">
      <label for="horizontal-scroll-effect">Horizontal scroll</label>

      <input type="radio" id="backwards-scroll-effect" name="effect" value="backwards-scroll" class="sr-only">
      <label for="backwards-scroll-effect">Backwards scroll</label>

      <input type="radio" id="zoom-scroll-effect" name="effect" value="zoom-scroll" class="sr-only">
      <label for="zoom-scroll-effect">Zoom scroll</label>
    </fieldset>
  </div>

  <nav>
    <ul class="indicator">
      <li><a href="#snapping"><span class="sr-only">Snapping</span></a></li>
      <li><a href="#scrolling"><span class="sr-only">Scrolling</span></a></li>
      <li><a href="#layout"><span class="sr-only">Layout</span></a></li>
      <li><a href="#transition"><span class="sr-only">Transition</span></a></li>
      <li><a href="#caveats"><span class="sr-only">Caveats</span></a></li>
    </ul>
  </nav>
</header>
