<!-- Javascript -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/vendor/jquery-1.11.3.js"></script>

<script type="text/javascript" src="{{ site.baseurl }}/assets/js/vendor/bootstrap/bootstrap.js"></script>

<script type="text/javascript" src="{{ site.baseurl }}/assets/js/vendor/jquery.rss.js"></script>



<!-- github calendar plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/3.0.2/es6-promise.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fetch/0.10.1/fetch.min.js"></script>

<script type="text/javascript" src="{{ site.baseurl }}/assets/js/vendor/github-calendar.min.js"></script>

<!-- github activity plugin -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>

<script type="text/javascript" src="{{ site.baseurl }}/assets/js/vendor/github-activity.js"></script>

<!-- custom js -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/main.js"></script>
