
  body {
    font-family: "Hack";
    background-color: var(--color-background);
    color: var(--color-text);
  }
  
  .language-plaintext,
  .highlighter-rouge {
    display: flex;
    flex-direction: row;
  }
  
  .md-header-nav__button.md-logo * {
    width: 48px;
  }
  
  .md-nav {
    background-color: inherit;
  }
  
  .md-typeset .codehilite,
  .md-typeset .highlight {
    background-color: var(--color-quaternary);
  }
  
  [data-md-color-primary="grey"] .md-typeset a {
    color: var(--color-secondary);
  }
  
  .md-typeset h1 {
    font-family: var(--font-family-special);
    font-size: 2.5em;
    font-weight: 600;
    color: var(--color-primary);
  }
  
  .md-typeset h2 {
    font-family: var(--font-family-ibm);
    font-size: 2.25em;
    color: var(--color-quaternary);
  }
  
  .md-typeset h4 {
    font-family: var(--font-family-logo);
    color: var(--color-tertiary);
    font-size: 2em;
    font-weight: 500;
  }
  
  .md-typeset h5,
  .md-typeset h6 {
    font-weight: 400;
    color: var(--color-quinary);
  }
  
  .md-typeset pre.codehilite code,
  .md-typeset pre.highlight code {
    color: var(--color-background);
  }
  
  .dropdown {
    background-color: var(--color-background);
  }
  
  .md-typeset code,
  .md-typeset pre {
    background-color: var(--color-text);
    box-shadow: unset;
    color: var(--color-primary);
    padding: 5px;
  }
  
  em {
    color: var(--color-senary);
  }
  
  .md-typeset blockquote {
    font-style: italic;
    border-left-color: var(--color-tertiary);
  }
  
  [data-md-color-primary="orange"] .md-header,
  [data-md-color-primary="orange"] .md-hero {
    background-color: var(--color-text);
  }
  
  [data-md-color-primary="orange"] .md-typeset a {
    color: var(--color-secondary);
    text-decoration: underline;
  }
  
  .md-typeset .codehilite code,
  .md-typeset .codehilite pre,
  .md-typeset .highlight code,
  .md-typeset .highlight pre {
    background-color: var(--color-quinary);
    padding: unset;
  }
  
  #_watch {
    width: -webkit-fill-available;
    height: 600px;
  }
  
  
  
  /* app/styles/chat.scss */
  .chat-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .chat {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .chat-bubble {
    font-family: var(--font-family-ibm);
    letter-spacing: 0.1px;
    max-width: 60%;
    padding: 10px 15px;
    border-radius: 20px;
    color: var(--color-background);
  }
  
  .chat-start .chat-bubble {
    background-color: var(--color-quaternary);
    border-bottom-left-radius: 0;
    align-self: flex-start;
    margin-bottom: 1rem;
  }
  
  .chat-end .chat-bubble {
    background-color: var(--color-text);
    color: var(--color-primary);
    border-bottom-right-radius: 0;
    align-self: flex-end;
    margin-bottom: 1rem;
  }
  
  /*********************************************
  Audio Player Styling
  *********************************************/
  
  .jp-audio {
    position: relative;
  }
  
  .audio-footer-container {
    background-color: darken($background-darker, 5%);
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    width: 100%;
  }
  
  .audio-player {
    padding: 0 0.25em;
    background: none;
    margin-left: auto;
    margin-right: auto;
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  }
  
  .player-now-playing {
    display: block;
    font-size: $player-now-playing-size;
    line-height: $player-now-playing-size;
    //height: $player-now-playing-size * 3;
    //height: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    p {
      padding-top:calc($player-now-playing-size / 2);
      padding-bottom: calc($player-now-playing-size / 2);
      margin-bottom: 0;
    }
  }
  
  .player-buttons {
    height: $player-height;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-top: 6px;
    .player-buttons-prev-number {
      float: right;
      line-height: $player-button-size;
      vertical-align: top;
      color: $player-bgcolor;
    }
    .player-buttons-next-number {
      float: left;
      line-height: $player-button-size;
      vertical-align: top;
      color: $player-bgcolor;
    }
    .player-buttons-prev {
      display: inline-block;
      text-align: left;
      position: absolute;
      left: 0;
      a {
        background: url("../img/icons/button_prev.svg");
        background-size: $player-button-size;
        width: $player-button-size;
        height: $player-button-size;
  
        display: inline-block;
        line-height: $player-height;
        margin: 0;
        padding: 0;
        z-index: 10000;
      }
    }
  
    .player-buttons-next {
      display: inline-block;
      text-align: right;
      position: absolute;
      right: 0;
      a {
        background: url("../img/icons/button_next.svg");
        background-size: $player-button-size;
        width: $player-button-size;
        height: $player-button-size;
  
        display: inline-block;
        line-height: $player-height;
        margin: 0;
        padding: 0;
        text-align: right;
        z-index: 10000;
      }
    }
  }
  
  // jPlayer
  // Progress bar
  
  .jp-progress {
    width: 100%;
    height: $player-progress-height;
    margin: 0 0 0 0;
    border-radius: 3px;
    background-color: $player-loaded-color;
  }
  
  // Progress bar -- how much has played so far
  .jp-play-bar {
    height: $player-progress-height;
    border-radius: 3px;
    background-color: $player-progress-color;
  }
  
  .jp-controls button.jp-play {
    background: none;
    width: $player-button-size;
    height: $player-button-size;
    background: url("../img/icons/button_play.svg");
    background-size: 44px;
    border: 2px solid #aaaaaa !important;
    border-radius: 32px !important;
    &:hover {
      border-color: $player-bgcolor !important;
    }
  }
  
  .jp-state-playing button.jp-play {
    background: url("../img/icons/button_pause.svg");
    background-size: $player-button-size;
    background-size: 44px;
  }
  
  // Fallback audio element styling -- just for use if you're using the default HTML5 audio element with controls
  
  audio {
    margin: 0 auto;
    display: block;
    width: 47rem;
    height: 4rem;
  }
  