$color-primary: hsl(0, 0%, 10%);
$color-text: hsl(0, 0%, 20%);
$color-subtext: #9b9817;
$color-border: hsl(0, 0%, 85%);
$color-box-background: mix($color-primary, white, 4%);
$border-radius: 4px;
$font-family: 'IBM Plex Mono', monospace;
$font-family-special: 'Special Elite', monospace;
$font-family-source: 'Source Code Pro', monospace;
$font-family-source-serif: 'Source Code Pro', serif;
$font-family-monospace: 'Overpass Mono', monospace;
$font-family-sans-serif: 'Overpass', sans-serif;
$font-family-logo: 'Podkova', serif;

body {
  box-sizing: content-box;
  font-family: $font-family;
  margin: 0 auto;
  line-height: 1.7;
  padding: 4vh 6vw;
  overflow-x: hidden;
  // background-color: #909592;
  background-color: #294735;
  // background-image: url("/assets/headers/mpv-shot0001.jpg");
  // background-blend-mode: difference;
  // background-size: auto;
  color: #060505;
  font-size: 1rem;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;


  @media (min-width: 820px) {
    font-size: 1.25rem;
  }
}

time {
  display: block;
  color: $color-subtext;
  margin: 0em 0 1em;
  font-family: 'Courier New', Courier, monospace;
}

footer {
  margin: 2em 0;
  font-size: 0.8em;
  color: mix($color-text, white, 80%);
  padding-top: 1em;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 75vh;
  border-radius: $border-radius;
}

.headingobject {
  box-sizing: border-box;
  // margin: 0 auto;
  margin-bottom: 4rem;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border: #597b65;
  border-style: dashed;
}

// .wrapper {
// }

.contentobject {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  align-items: flex-start;
  flex-direction: column;
  align-content: space-between;
}


// .headingobject p {
//   color: silver;
//   font-size: 1em;
// }

#object-cover {
  max-width: 90%;
  mix-blend-mode:luminosity;
  margin-top: 4rem;
  margin-bottom: 7rem;
}

#page-cover {
  // mix-blend-mode: luminosity;
  // image-rendering: pixelated;
  margin-bottom: 1rem;
}

#excerpt {
  align-content: center;
  align-items: center;
}

blockquote {
  padding: 1em;
  margin-top: auto;
  margin-bottom: 2rem;
  margin-left: 0;
  margin-right: 1rem;
  font-size: 0.88em;
  background: #443b3f;
  border-radius: $border-radius;
  font-style: italic;
  line-height: 1.3;
  


  p {
    font-family: $font-family-special;
    margin: 0;
  }
  a {
    color:#9b9817;
  }
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin-bottom: 2rem;
  background: #000;
}

h1 {
  font-family: $font-family-monospace;
  line-height: 1.25;
  font-weight: 300;
  letter-spacing: 0.1rem;
  @media (max-width: 1050px) {
    letter-spacing: 0rem;
  }
}

h2 {
  font-family: $font-family-logo;
  font-weight: 500;
}

h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin-bottom: 0;
  padding-bottom: 0;
}

p {
  font-family: $font-family;
  font-weight: 400;
  font-size: 1.40rem;
}

a {
  transition: background 300ms;
  padding: 0 0.1em;
  text-decoration: none;
  // border-bottom: 1px solid $color-border;
  color: $color-primary;
  &:hover {
    color: black !important;
    background: #3f3e3d;
  }
  &:after {
    position: relative;
    top: -0.5em;
    font-size: 0.7em;
    content: "↗";
    color: #2e2e2e;
  }
  &.internal-link:after,
  &.footnote:after,
  &.reversefootnote:after {
    content: "";
  }
}

li {
  font-weight: 400;
}

*:focus {
  background: #ffe8bc !important;
  color: black !important;
}

nav {
  margin: 1em 0 3em;
}

#notes-entry-container {
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
    "content"
    "side";

  @media (min-width: 1558px) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "content side";
  }
}

#side {
  font-size: 0.9em;

  @media (max-width: 1024px) {
    visibility: hidden;
  }
}

.backlink-box {
  background: #9b9817;
  padding: 1em;
  border-radius: $border-radius;
}

.box {
 display: grid;
 justify-content: center; 
}

.headingbox {
  display: grid;
  justify-content: space-around;
}

code {
  // background: #7f7f7f;
  padding: 0.1em 0.2em;
  border-radius: 4px;
}

.invalid-link {
  color: #444444;
  cursor: help;
  background: #fafafa;
  padding: 0 0.1em;
}

.invalid-link-brackets {
  color: #ccc;
  cursor: help;
}
