:root {
  /* Full grid area variable */
  --fullGrid: 1 / 1 / -1 / -1;
  --blue-whale: #142e3c;
  --cold-and-dark: #203e4a;
  --nocturne: #2f4b55;
  --great-void: #3e575e;
  --still-water: #4d656a;
  --north-atlantic: #60797e;

  --bitter-liquorice: #282925;
  --black-olive: #363731;
  --armadillo: #4a4b47;
  --iron: #616260;
  --lucky-grey: #777876;
  --mummys-tomb: #868c7e;

  --lava-rock: #545b64;
  --winter-storm: #4c6c6e;
  --antique: #838064;
  --caramel-crumb: #c09351;
  --polished-gold: #eca447;
  --kombucha: #e1ab6e;

  --aztec: #273639;
  --rosemary: #455e5a;
  --arctic: #6a8989;
  --shallow-sea: #95b8c5;
  --aquatic-edge: #c1d2cd;
  --master-key: #decf8f;

  --nirvana: #a99aa2;
  --mighty-mauve: #8c7e85;
  --chimera: #75676e;
  --pinot-noir: #61545b;
  --pitch-black: #483d43;
  --ink-black: #2a2226;

  --moutarde-de-benichon: #b88b0a;
  --rich-gold: #a58211;
  --jungle-king: #545132;
  --blue-whale: #273542;
  --sea-of-stars: #1d3041;
  --midnight-ocean: #142940;
  --jp-mirror-editor-variable-color: #142940;
}


@font-face {
  font-family: 'mononoki';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/mononoki-Regular.ttf) format('truetype')
}

@font-face {
  font-family: 'mononoki';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(../assets/fonts/mononoki-BoldItalic.ttf) format('truetype')
}

@font-face {
  font-family: 'mononoki';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../assets/fonts/mononoki-Bold.ttf) format('truetype')
}

@font-face {
  font-family: 'mononoki';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/mononoki-Italic.ttf) format('truetype')
}


$color-primary: hsl(0, 0%, 10%);
$color-text: hsl(0, 0%, 20%);
$color-subtext: #9b9817;
$color-border: hsl(0, 0%, 85%);
$color-box-background: mix($color-primary, white, 4%);
$border-radius: 4px;
$font-family-ibm: 'IBM Plex Mono', monospace;
$font-family-special: 'Special Elite', monospace;
$font-family-source: 'Source Code Pro', monospace;
$font-family-source-serif: 'Source Code Pro', serif;
$font-family-monospace: 'Overpass Mono', monospace;
$font-family-sans-serif: 'Overpass', sans-serif;
$font-family-logo: 'Podkova', serif;
$font-family-text: 'mononoki', monospace;
$font-family-forum: 'Forum', serif;


body {
  box-sizing: content-box;
  font-family: $font-family-text;
  margin: 0 auto;
  line-height: 1.4;
  padding: 4vh 2vw;
  overflow-x: hidden;
  // background-color: #ad9b56;
  // background-color: #a38b2e;
  background-color: #091a28;
  // max-width: 65%;
  // background-image: url("/assets/img/headers/mpv-shot0001.jpg");
  // background-blend-mode: difference;
  // background-size: auto;
  // color: #060505;
  color: #519196;
  font-size: 1rem;
  // display: flex;
  // flex-direction: column;
  align-items: center;

  // @media (max-width: 800px) {
  //   font-size: 1.25rem;
  // }

  // @media (max-width: 1340px) {
  //   font-size: 1.25rem;
  //   max-width: 60%;
  // }

  @media (max-width: 820px) {
    background-color: var(--cold-and-dark);
    color: #afafaf;
  }

  @media (max-width: 300px) {
    background-color: #3f1e55;
    visibility: hidden;
    // max-width: inherit;
  }

}


#side {
  font-size: 0.9em;
  border-left: #000;
  border-left-style: groove;
  padding-left: 1rem;
  margin-bottom: 1rem;
}



.row-flex-column {
  display: flex;
  justify-content: center;

  @media (max-width: 820px) {
    background-color: #672828;
    // max-width: inherit;
  }

  .side {
    padding-left: 1rem;
    padding-right: 4rem;
    @media (min-width: 1130px) {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 25%;
    }
    
    @media (max-width: 1024px) {
      display: none;
    }
  }
}


.wrapper {
  // display: grid;

  @media (max-width: 820px) {
    background-color: #672828;
    // max-width: inherit;
  }
}

content {
  max-width: -webkit-fill-available;
  // word-wrap: balance;
}

recently {
  padding-left: 1rem;
  padding-right: 1rem;

  ul {
    font-size: 1rem;
  }

  @media (max-width: 40rem) {
    background-color: #672828;
    visibility: hidden;
    // max-width: inherit;
  }
}

main {
  justify-content: center;
}

time {
  display: ruby-text;
  color: #76b117;
  margin: 0em 0 1em;
  font: caption;
  // padding: 0.5rem;
  font-family: $font-family-ibm;
  
  @media (max-width: 1280px) {
    display: none;
  }

}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 75vh;
  border-radius: $border-radius;
}

blockquote {
  background-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-style: italic;
  border-radius: 1rem;
  margin-inline-start: 1rem;
  color: black;

  p {
    font-family: $font-family-ibm;

    // text-align: -webkit-center;
    code {
      color: #ffe40a;
      background-color: transparent;
    }
  }

}

.tags {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.last-update {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.headingobject {
  box-sizing: border-box;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  // border: #597b65;
  // border-style: dashed;

  @media (max-width: 820px) {
    flex-direction: row;
    background-color: #672828;
    // max-width: inherit;
  }

}


// .left-column,
// .right-column {
//   width: 50%;
//   padding: 20px;
//   box-sizing: border-box;
// }

// .left-column,
// .right-column {
//   background-color: transparent;
// }

.left-column img,
.right-column img {
  width: 100%;
  height: auto;
}




.contentobject {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  align-items: flex-start;
  flex-direction: column;
  align-content: space-between;
}

#dark {
  mix-blend-mode: difference;
}

// #object-cover {
//   max-width: 90%;
//   mix-blend-mode: hard-light;
//   margin-top: 2rem;
//   margin-bottom: 3rem;
// }

#page-cover {
  margin-bottom: 1rem;
}

#excerpt {
  align-content: center;
  align-items: center;
}

.c>div {
  padding: 1em;
}

@media screen and (min-width: 31.42em) {

  .c2,
  .c3 {
    float: left;
    width: 50%;
  }
}

.quote {
  display: inline-block;
  margin: 1em;
  overflow: hidden;

  blockquote {
    background-color: var(--armadillo);
    border: solid 2px #757575;
    display: inline-block;
    margin: 0;
    padding: 1em;
    position: relative;

    &:before {
      background-color: var(--armadillo);
      bottom: -10%;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: -10%;
      // transform: rotate(-15deg) skew(5deg);
    }

    cite {
      display: block;
      font-style: italic;
      text-align: right;

      &:before {
        content: "- ";
      }
    }

    >* {
      font-family: $font-family-special;
      position: relative;
      z-index: 1;
    }
  }
}

ol {
  font-size: 1.25rem;
  line-height: 2rem;
  list-style-type: auto;

  li {
    p {
      strong {
        color: #a58211;
      }
    }
  }

}

ul {
  font-size: 1.25rem;
  line-height: 2rem;
  margin: 0rem;
  display: contents;

  li {
    list-style-type: disc;
    margin: 1rem;
    color: #c6c5c5;
  }

}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 1rem;
  margin-right: 0.5rem;
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin-bottom: 2rem;
  background: #000;
}

h1 {
  font-family: $font-family-forum;
  font-size: 4rem;
  line-height: 1.25;
  font-weight: 300;
  letter-spacing: 0.1rem;
  justify-self: center;
  color: tomato;

  @media (max-width: 1560px) {
    font-size: 3rem;
    text-align: center;
  }

  @media (max-width: 1440px) {
    font-size: 2.5rem;
    text-align: center;
  }


  @media (max-width: 1050px) {
    letter-spacing: 0rem;
  }

  &:before {
    content: "# ";
  }
}

h2 {
  font-family: $font-family-logo;
  font-weight: 500;
  font-size: 3.5rem;
  color: rgb(175, 192, 18);

}

h3 {
  font-family: $font-family-logo;
  font-weight: 500;
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #ada087;
}

h4 {
  font-family: $font-family-logo;
  font-weight: 500;
  font-size: 2.0rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #b04848;
}

h5,
h6 {
  line-height: 1.3;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-bottom: 0;
  font-weight: 500;
}

p {
  font-family: $font-family-text;
  font-weight: 400;
  font-size: 1.40rem;
  word-spacing: 0.1rem;
  color: var(--aquatic-edge);

  code {
    color: #018361;

    background-color: rgb(18 18 18 / 81%);

    padding: 0.025rem 0.185rem;

    &:before {
      content: "`";
    }

    &:after {
      content: "`";
    }
  }
}

a {
  transition: background 300ms;
  padding: 0 0.1em;
  text-decoration: none;
  color: #8e19e2;
  // color: #c1185c;
  font-weight: 500;
  font-style: italic;

  &:hover {
    color: black !important;
    background: #3f3e3d;
  }

  &:after {
    position: relative;
    top: -0.5em;
    font-size: 0.7em;
    content: "↗";
    color: #a50d0d;
  }

  &.internal-link:after,
  &.footnote:after,
  &.reversefootnote:after {
    content: "";
  }
}

li {
  position: relative;

  // padding-left: 15px;
  strong {
    color: #ed4949;
  }
}

// li:before {
//   content: "\25BA \0020";
//   font-size: 6px;
//   position: absolute;
//   top: 5px;
//   left: -10px;
// }

*:focus {
  background: #ffe8bc !important;
  color: black !important;
}

#table-of-contents {

  ul,
  ol {
    font-size: 1rem;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 5.125rem;
    margin-inline-end: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-inline-start: 1.25rem;
    list-style-type: disclosure-closed;
    line-height: 1.75rem;
  }

  li {
    display: block;
    text-align: left;
  }

  @media (max-width: 1440px) {
    display: flex;
  }

}


#markdown-content {
  font-size: 1.25rem;
}

#notes-entry-container {
  display: grid;
  // justify-items: center;
  //  align-items: baseline;
  // grid-gap: 2em;
  grid-template-areas:
    "content"
    "side";

  @media (min-width: 1440px) {
    grid-template-columns: 3fr 0fr;
    grid-template-areas: "content side";
  }
}

.backlink-box {
  padding: 0.5rem;
  border-radius: $border-radius;

  a {
    color: #000;
  }
}

.box {
  display: grid;
  border-style: dashed;
  border-color: black;
  padding: 1rem;
  
  h1 {
    margin: unset;
  }
  //  justify-content: space-evenly;
  //  justify-items: center;
}

code {
  background: transparent;
  padding: 0.1em 0.2em;
  border-radius: 4px;
  color: burlywood;
  font-size: 1.125rem;
  text-wrap: balance;
  word-break: auto-phrase;
}

.invalid-link {
  color: #444444;
  cursor: help;
  background: #fafafa;
  padding: 0 0.1em;
}

.invalid-link-brackets {
  color: #ccc;
  cursor: help;
}

$background: #b82a2a;
$lfs-blue: #9b9817;
$lfs-yellow: #fab700;
$lfs-grey: #000000;


// tables!


table {
  width: 100%;

  caption {
    text-transform: uppercase;
    font-weight: bold;
    color: $lfs-yellow;
    text-align: center;
  }

  thead {
    border-top: 2px solid $lfs-yellow;
    border-bottom: 2px solid $lfs-yellow;

    th {
      // text-transform: uppercase;
      text-align: center;
      padding: 10px;
      color: $lfs-blue;
      border: 1px solid #F1F1F1;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #F1F1F1;
      color: #c5c5c6;

      td {
        padding: 10px;
        border: 1px #959595;
        font-weight: 500;
        border-style: dotted;
      }

      th {
        padding-left: 10px;
        border: 1px solid #F1F1F1;
      }
    }
  }

  tfoot {
    color: $lfs-yellow;
    font-style: italic;
    border-bottom: 2px solid $lfs-yellow;

    tr {
      td {
        padding: 10px;
        border: 1px solid #F1F1F1;
      }
    }
  }
}


.section-nav {
  background-color: var(--aztec);
  margin: 5px 0;
  padding: 0.5rem 1rem;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
}

nav {
  padding: 0.5rem;
  justify-content: center;
  margin-bottom: 2rem;

  a {
    color: #919651;
    font-style: unset;
  }

}

footer {
  margin: 2em 0;
  font-size: 1em;
  color: mix($color-text, white, 80%);
  padding-top: 1em;
  justify-content: center;

  a {
    color: hsl(175, 40%, 41%);
  }
}


.jp-RenderedHTMLCommon tbody tr:nth-child(odd) {
  background: #091a28;
}

.jp-RenderedHTMLCommon tbody tr:nth-child(even) {
  background: #333333;
}


.jp-Notebook {
  background: #273639;
}
.jp-InputArea-editor {
  background: #4a4b47;
}

.jp-RenderedHTMLCommon img, .jp-RenderedImage img, .jp-RenderedHTMLCommon svg, .jp-RenderedSVG svg {
  max-width: 100%;
  height: auto;
}
