/* ==========================================================================
   Layout, Spacing & General Variables
   ========================================================================== */

@use "sass:math";

/* ==========================================================================
   Layout & Spacing
   ========================================================================== */

// Spacing
$spacing-unit: 30px;
$content-width: 800px;

// Breakpoints
$small: 320px !default;
$medium: 768px !default;
$large: 1024px !default;
$xlarge: 1280px !default;

$on-tiny: 310px;
$on-palm: 640px;
$on-laptop: 800px;
$height-600: 600px;

// Fluid Type Settings
$min-vw: $small !default;
$max-vw: $xlarge !default;
$min-font-size: 16px !default;
$max-font-size: 18px !default;

// Content Width
$main-max-width: $medium !default;
$main-sidebar-max-width: $large !default;

/* ==========================================================================
   Components
   ========================================================================== */

// Audio Player Dimensions
$player-height: 64px !default;
$player-now-playing-size: 13px !default;
$player-button-size: 48px !default;
$player-progress-height: 10px !default;

// Tile Dimensions
$tile-size: 56px !default;
$tile-size-large: 64px !default;
$tile-border-radius: 2px !default;

// Site Logo
$site-logo-width: 75px !default;
$site-logo-height: 75px !default;

/* ==========================================================================
   Utilities
   ========================================================================== */

// Border Radius
$border-radius: 0.25rem !default;

// Transitions
$global-transition: all 0.4s ease !default;
