@import "fonts";
@import "code";

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500|Inknut+Antiqua:400,500,600,700,800|Alegreya:800,900');

:root {
  /* Full grid area variable */
  --fullGrid: 1 / 1 / -1 / -1;
  --blue-whale: #142e3c;
  --cold-and-dark: #203e4a;
  --nocturne: #2f4b55;
  --great-void: #3e575e;
  --still-water: #4d656a;
  --north-atlantic: #60797e;

  --bitter-liquorice: #282925;
  --black-olive: #363731;
  --armadillo: #4a4b47;
  --iron: #616260;
  --lucky-grey: #777876;
  --mummys-tomb: #868c7e;

  --lava-rock: #545b64;
  --winter-storm: #4c6c6e;
  --antique: #838064;
  --caramel-crumb: #c09351;
  --polished-gold: #eca447;
  --kombucha: #e1ab6e;

  --aztec: #273639;
  --rosemary: #455e5a;
  --arctic: #6a8989;
  --shallow-sea: #95b8c5;
  --aquatic-edge: #c1d2cd;
  --master-key: #decf8f;

  --nirvana: #a99aa2;
  --mighty-mauve: #8c7e85;
  --chimera: #75676e;
  --pinot-noir: #61545b;
  --pitch-black: #483d43;
  --ink-black: #2a2226;

  --moutarde-de-benichon: #b88b0a;
  --rich-gold: #a58211;
  --jungle-king: #545132;
  --blue-whale: #273542;
  --sea-of-stars: #1d3041;
  --midnight-ocean: #142940;
  --jp-mirror-editor-variable-color: #142940;

  --base-font-family: "Darker Grotesque", serif;
  --base-font-weight: 500;
  --heading-font-family: "Syne", sans-serif;
  --heading-font-weight: 800;
  --highlight-font-weight: 800;
  --base-font-size: 1rem;
  --base-line-height: 1.5;

  // --theme-bg: #151515;
  --theme-bg: #755555;
  --theme-bg-alt: #474d48;
  --theme-bg-alt-alt: #1e4021;
  --theme-bg-alt-alt-alt: #1A1E36;
  --theme-text: #a39aa2;
  --theme-accent: #5e4a5c;
  /* ==== Typography ==== */
  --font-family-primary: 'IBM Plex Sans', sans-serif;
  --font-family-secondary: 'Inknut Antiqua', serif;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;


  --baseline: calc(12 * 1px);
  /* This is our baseline */
  --base-line-height: calc(var(--baseline) * 2);
  /* Base line height is a multiple of the baseline */
  --base-font-size: 1rem;

  /* ==== Spacing based on baseline ==== */
  --spacing-1: var(--baseline);
  --spacing-2: calc(var(--baseline) * 2);
  --spacing-3: calc(var(--baseline) * 3);
  --spacing-4: calc(var(--baseline) * 4);
  --spacing-5: calc(var(--baseline) * 5);
  --spacing-6: calc(var(--baseline) * 6);
  --spacing-7: calc(var(--baseline) * 7);
  --spacing-8: calc(var(--baseline) * 8);
  --spacing-9: calc(var(--baseline) * 9);
  --spacing-10: calc(var(--baseline) * 10);

}

$color-primary: hsl(0, 0%, 10%);
$color-text: hsl(0, 0%, 20%);
$color-subtext: #9b9817;
$color-border: hsl(0, 0%, 85%);
$color-box-background: mix($color-primary, white, 4%);
$border-radius: 4px;
$font-family-ibm: "IBM Plex Mono", monospace;
$font-family-special: "Special Elite", monospace;
$font-family-source: "Source Code Pro", monospace;
$font-family-source-serif: "Source Code Pro", serif;
$font-family-monospace: "Overpass Mono", monospace;
$font-family-sans-serif: "Overpass", sans-serif;
$font-family-logo: "Podkova", serif;
$font-family-text: "mononoki", monospace;
$font-family-forum: "Forum", serif;

body {
  background-color: #26272b;
  padding:50px;
  font-family: $font-family-source;
  color:#727272;
  font-weight:400;
  font-size: 1.25rem;;
}

h1, h2, h3, h4, h5, h6 {
  color: #a03219;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color: #75a019
}

h3, h4, h5, h6 {
  color:#dd5400;
}

a {
  color:#b9ac26;
  text-decoration:none;
}

a:hover, a:focus {
  color:#069;
  font-weight: bold;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

.wrapper {
  width: -webkit-fill-available;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#962424;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

kbd {
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

header {
  width:20%;
  // float:left;
  // position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

ul.downloads {
  list-style:none;
  height:40px;
  padding:0;
  background: #f4f4f4;
  border-radius:5px;
  border:1px solid #e0e0e0;
  width:270px;
}

.downloads li {
  width:89px;
  float:left;
  border-right:1px solid #e0e0e0;
  height:40px;
}

.downloads li:first-child a {
  border-radius:5px 0 0 5px;
}

.downloads li:last-child a {
  border-radius:0 5px 5px 0;
}

.downloads a {
  line-height:1;
  font-size:11px;
  color:#676767;
  display:block;
  text-align:center;
  padding-top:6px;
  height:34px;
}

.downloads a:hover, .downloads a:focus {
  color:#675C5C;
  font-weight:bold;
}

.downloads ul a:active {
  background-color:#f0f0f0;
}

strong {
  color:#217d8a;
  font-weight:700;
}

.downloads li + li + li {
  border-right:none;
  width:89px;
}

.downloads a strong {
  font-size:14px;
  display:block;
  color:#222;
}

section {
  width:70%;
  float:right;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}


@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  .downloads {
    width:99%;
  }

  .downloads li, .downloads li + li + li {
    width:33%;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
