/*
   Compass YIQ Color Contrast
   https://github.com/easy-designs/yiq-color-contrast
   ========================================================================== */

@use "sass:math";
@use "sass:color";
@use "../colors";

@function yiq-is-light(
  $color,
  $threshold: colors.$yiq-contrasted-threshold
) {
  $red: color.channel($color, "red", $space: rgb);
  $green: color.channel($color, "green", $space: rgb);
  $blue: color.channel($color, "blue", $space: rgb);

  $yiq: math.div(($red*299)+($green*587)+($blue*114), 1000);

    @if colors.$yiq-debug { @debug $yiq, $threshold; }

    @return if($yiq >= $threshold, true, false);
  }

  @function yiq-contrast-color(
    $color,
    $dark: colors.$yiq-contrasted-dark-default,
    $light: colors.$yiq-contrasted-light-default,
    $threshold: colors.$yiq-contrasted-threshold
  ) {
    @return if(yiq-is-light($color, $threshold), colors.$yiq-contrasted-dark-default, colors.$yiq-contrasted-light-default);
  }

  @mixin yiq-contrasted(
    $background-color,
    $dark: colors.$yiq-contrasted-dark-default,
    $light: colors.$yiq-contrasted-light-default,
    $threshold: colors.$yiq-contrasted-threshold
  ) {
    background-color: $background-color;
    color: yiq-contrast-color($background-color, $dark, $light, $threshold);
  }
