<!DOCTYPE html>
<html lang="en">
<head>{% include head.html %}</head>

<body>
  <!-- Back to top button -->
  <a id="button"></a>

  <nav class="row">{% include nav.html %}</nav>

  <div class="headingobject">
    <h1>{{ page.title }}</h1>
    <div class="tags">
      {% include note/tags.html %}
    </div>
    <div class="last-update">
      <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{% if page.type != 'pages' %}
        Last updated on {{ page.last_modified_at | date: "%B %-d, %Y" }}
        {% endif %}
      </time>
    </div>
  </div>

  <main class="row">
    {% if page.image %}
    <div id="object-cover">
      <img src="{{ site.baseurl }}{{ page.image }}" />
      {% if page.caption %}
      <h6>{{ page.caption }}</h6>
      {% endif %}
    </div>
    {% endif %}


    <div class="row">
      <div class="col-sm-5" id="table-of-contents">
        {{ content | toc_only }}
      </div>
      <div class="col-sm-7" id="markdown-content">
        {{ page.introduction }}
      </div>

    </div>
    <p>{{ page.cssid }}</p>
    <!-- <p>This line is hard-coded into note.html</p> -->
    <content>
      {{ content | inject_anchors }}
    </content>

    <hr>

  </main>

  <footer>{% include footer.html %}</footer>
  {% include link-previews.html wrapperQuerySelector="content" %}
  {% include button.html %}

</body>

</html>