<!DOCTYPE html>
<html lang="en">

<head>{% include head.html %}</head>

<body class="container">
  <nav class="row">{% include nav.html %}</nav>

  <div class="row">

    <div class="left-column">
      <div class="md">
        {{ content }}
      </div>
    </div>

    <br>

    <div class="right-column">
      <div class="xs">
        {% include items_graph.html %}
      </div>
    </div>
  </div>



  <footer class="row">{% include footer.html %}</footer>
  {% include link-previews.html wrapperQuerySelector="content" %}

</body>

</html>