---
layout: default
pagination:
enabled: true
---

<div class="row-flex-column">
  <div class="side">
    <div class="box">
      <div style="border-style: dashed; border-color: black; padding: 0.5rem">
        <h1>{{ page.title }}</h1>
        <time style="display: flex;" datetime="{{ page.last_modified_at | date_to_xmlschema }}">{% if page.type != 'pages' %}
            updated on: {{ page.last_modified_at | date: "%B %-d, %Y" }}
          {% endif %}
        </time>
      </div>
      <br>
      <div style="border-style: dashed; border-color: black; padding: 0.5rem;">
        {% include item/backlinks.html %}
      </div>
      <br>
      <div style="border-style: dashed; border-color: black; padding: 0.5rem">
        {% include item/tags.html %}
      </div>
      <br>      
      <div style="border-style: dashed; border-color: black; padding: 0.5rem">
        <span>
          {{ content | toc_only }}
        </span>
      </div>
    </div>
  </div>
  <div class="xl" style="border-style: dashed; border-color: black; padding: 0.5rem; display: contents">
    <content style="max-width: 80%; padding: 4rem;">
      {{ content }}
    </content>
  </div>
</div>