---
layout: default
---


<video autoplay="true" loop="" id="bgvid" poster="{{ page.image }}">
  <source type="video/webm" src="{{ page.video.webm }}">
  <source type="video/mp4" src="{{ page.video.mp4}}" <img src="{{ page.image }}"
    title="Your browser does not support the <video> tag">
</video>

<div class="overlay">
  <h1>HTML5 Video</h1>
  {{ content }}
  <!-- <p>HTML5 Video overlay example, quite popular with a lot of creative sites.</p>
  <p>View <a target="_BLANK" href="https://github.com">Original</a> demo for best
    experience.</p>
  <p><a target="_BLANK" href="https://codepen.io/doddsy105/full/rtcbE/">Fullscreen</a></p> -->
</div>
